#jumbo {
  background: url("../images/news2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body{
  background-image: url("../images/body2.jpg")
}
.shadow {
  text-shadow: 2px 2px 4px #131111;
}

.navbar{
  background-color:rgb(66, 44, 15);
  color: whitesmoke;
}

.navbar a{
  color: rgb(240, 167, 11);
  font-size: 22px;
  font-family: monospace;
}
.navbar a:hover{
  color: rgb(240, 167, 11);
  font-size: 22px;
  font-family: monospace;
  background-color: rgb(233, 193, 119);
}





.shadow-bottom {
  color: rgb(22, 19, 19);
  text-shadow: 0px -1px 8px white,
               0px 1px 8px white,
               0px -2px 12px black,
               0px 2px 12px black;
}

.bottom-list {
  position: relative;
  bottom: -50px;
  padding: 20px;
}

.sub-display {
  font-family: "Cormorant SC";
  font-weight: 600;
}

#newComment {
  width: 100%;
}

.btn {
  cursor: pointer;
}

#scrape {
  width: 300px;
}

.card-body{
  background-color: rgb(182, 159, 124);
}

.card-header{
  background-color: rgb(54, 40, 19);
}